$assets-path = '~assets/';
$fonts-path = $assets-path + 'fonts/';

@font-face
	font-family: 'ff-thin';
	src: url($fonts-path+'font-thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;

@font-face
	font-family: 'ff-light';
	src: url($fonts-path+'font-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;

@font-face
	font-family: 'ff-bold';
	src: url($fonts-path+'font-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;

@font-face
	font-family: 'ff-black';
	src: url($fonts-path+'font-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;

@font-face
	font-family: 'ff-extraLight';
	src: url($fonts-path+'font-extraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;

@font-face
	font-family: 'ff-book';
	src: url($fonts-path+'font-book.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'ff-medium';
	src: url($fonts-path+'font-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;

@font-face
	font-family: 'ff-regular';
	src: url($fonts-path+'font-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'ff-ultra';
	src: url($fonts-path+'font-ultra.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	
@font-face
	font-family: 'icomoon';
	src:  url($fonts-path+'icomoon.eot?62poa8');
	src:  url($fonts-path+'icomoon.eot?62poa8#iefix') format('embedded-opentype'),
	url($fonts-path+'icomoon.ttf?62poa8') format('truetype'),
	url($fonts-path+'icomoon.woff?62poa8') format('woff'),
	url($fonts-path+'icomoon.svg?62poa8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
