// @import 'Colors'
// @import 'Fonts'

$assets-path = '~assets/';
$styles-path = $assets-path+'styles/';
$libs-path = $styles-path + 'libs/';
$fonts-path = $assets-path + 'fonts/';

$path-images = $assets-path+'images/';

$usersize = 25vw
$mobile = 780px
$minimobile = 375px

hide-text()
	overflow hidden
	text-indent 110%
	white-space nowrap

replace(image = 'sprite.png', left = 0, top = 0, color = transparent, bgrepeat = no-repeat)
	display block
	border 0
	background color url(image) bgrepeat left top
	text-indent -9999px
	overflow hidden
	
mask(image = 'sprite.png', size = contain, left = center, top = center)
	mask-image url(image)
	mask-size size
	mask-repeat no-repeat
	mask-position left top
	text-indent -9999px
	
bg(image = 'sprite.png', left = 0, top = 0, color = transparent, bgrepeat = no-repeat)
	background color url(image) bgrepeat left top

// square(squaresize = 5px)
// 	width squaresize
// 	height squaresize

box()
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

bgsize(args)
	-webkit-background-size args
	background-size args

center()
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	margin auto

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

linear_gradient(origin, colors...)
	fallback = colors[1][0]

	colors = join(', ', colors)
	colors = unquote(colors)

	background-color: fallback
	background-image: -webkit-linear-gradient(origin, colors) // Chrome, Safari
	background-image:    -moz-linear-gradient(origin, colors) // Firefox (3.6 - 15)
	background-image:     -ms-linear-gradient(origin, colors) // IE 10
	background-image:      -o-linear-gradient(origin, colors) // Opera (11.1 - 12.0) 
	background-image:         linear-gradient(origin, colors) // W3C

mini()
	@media (max-height: 420px) and (max-width: 320px)
		{block}

// Fonts Mixins
font($type)
	font-family 'ff-' + $type

// Sizes
square($size)
	$name = $size
	width $name
	height $name

fluid-type($min-font-size = 16px, $max-font-size = 20px, $lower-range = 420px, $upper-range = 1280px)

	$f-dif = remove-unit($max-font-size - $min-font-size)
	$r-dif = remove-unit($upper-range - $lower-range)

	font-size: "calc(%s + %s * ( (100vw - %s) /  %s ))" % ($min-font-size $f-dif $lower-range $r-dif) 
  
	@media screen and (max-width: $lower-range)
		font-size: $min-font-size


	@media screen and (min-width: $upper-range)
		font-size: $max-font-size 