<template lang="pug">
	.status(v-if="testeStatus")
		.group-infos(v-if="currentStatus")
			span.welcome {{currentStatus.name ? 'Olá, ' + currentStatus.name : 'Atendimento nº #' + $route.params.id}}

		.texts
			span.text(v-for="label in testeStatus.texts", :class="label.color ? 'color-'+label.color : ''") {{label.text}}

		span.date(v-if="testeStatus.code !== 3") 
			.group(v-if="currentStatus.date") Consulta marcada para, <span>{{moment(currentStatus.date).format('LL')}} as {{currentStatus.time}}</span>
			.group(v-else) Aguarde a criação da sua sala por favor.
		
		.links(v-else)
			span.text Marque seu agendamento
			.buttons
				//- a(class="atendimento" href="https://api.whatsapp.com/send?phone=5598991094459" target="__blank") Atendimento online
				button(href="" target="__blank", class="whatsapp", @click="openChat") Agendar agora

</template>
<script>
	let moment = require('moment');
	moment.locale('pt-br');

	export default {
		data () {
			return{
				moment: moment,
				status: [
					{
						type: 'today',
						texts: [
							{
								text: 'Esta na hora',
								color: 'blue'
							},
							{
								text: 'da sua consulta',
							}
						],
						code: 0
					},
					{
						type: 'not-room',
						texts: [
							{
								text: 'Atendimento sem sala',
								color: 'green'
							},
							{
								text: 'no momento',
							}
						],
						code: 1
					},
					{
						type: 'after',
						texts: [
							{
								text: 'Sua consulta',
							},
							{
								color: 'green',
								text: 'Não é hoje'
							}
						],
						code: 2
					},
					{
						type: 'notfound',
						texts: [
							{
								text: 'Atendimento',
								color: 'black'
							},
							{
								text: 'Não encontrado',
							}
						],
						code: 3
					}
				],
				currentStatus: null
			}
		},
		computed: {
			testeStatus(){
				if (this.currentStatus) {
					return this.status.find(n => n.code == this.currentStatus.code);
				}
			}
		},
		created(){
			this.getAtendimento();
		},
		methods: {
			openChat(){
				this.$emit('agendamento');
			},
			getAtendimento(){
				// let baseUrl = 'https://hc.hospitalsaodomingos.com.br:3000/'
				let baseUrl = 'http://gtwesbhomol01.hospitalsaodomingos.com.br:3148/'
				this.$api.$get(baseUrl+'api/teleconsulta/encounter/validate/'+this.$route.params.id+'', {
					auth: { 
						username: 'hsdservice', 
						password: 'j!6#gs1lWVyn'
					}
				})
				.then(response => {
					// response.code = 0;
					this.currentStatus = response;

					this.$emit('chamou', response);
				})
				.catch(error => {
					console.log(error)
				});
			}
		}
	}
</script>

<style lang="stylus" src="@/assets/styles/components/status.styl"></style>