@import '~assets/styles/libs/Icons'
@import '~assets/styles/libs/Colors'

#blip-chat-open-iframe {
	display: none !important;
}
#blip-chat-container {
	height: 100% !important;
	bottom: 0 !important;
	right: 0 !important;
}
#blip-chat-iframe {
	position: absolute !important;
	top: 0 !important;
	right: -400px !important;
	bottom: 0 !important;
	height: 100% !important;
	max-height: 100% !important;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
	-ms-filter: " progid:DXImageTransform.Microsoft.Alpha(Opacity=100) ";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: 0.5s !important;
	-moz-transition: 0.5s !important;
	-o-transition: 0.5s !important;
	transition: 0.5s !important;
}
#blip-chat-iframe.blip-chat-iframe-opened {
	right: 0 !important;
	-moz-box-shadow: 0 0 20px 1px rgba(0,0,0,0.2) !important;
	-webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,0.2) !important;
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.2) !important;
}
#blip-chat-container {
	z-index: 9999999999;
}