@import '~assets/styles/libs/Icons'
@import '~assets/styles/libs/Colors'

.status
	display block
	
	.welcome
		color alpha($black, .8)
		font-size 1.8rem
		
		@media screen and (max-width: $minimobile)
			font-size 1.32rem
	
	.texts
		width 100%
		margin .8rem 0 0
		
		span
			font-size 4.32rem
			font('bold')
			text-transform uppercase
			display inline-block
			margin 0 1rem 0 0
			
			&:last-child
				margin 0
			
			&.color-blue
				color $blue
				
			&.color-green
				color $green
				
			&.color-black
				color $black
				
			@media screen and (max-width: $mobile)
				font-size 3rem
				
			@media screen and (max-width: $minimobile)
				font-size 2.32rem
				
			@media screen and (max-width: 1366px)
				font-size 3.53rem
			
	.date,
	.links
		font-size 1.8rem
		display flex
		margin 1.53rem 0 0
		color alpha($black, .8)
		align-items center
		
		@media screen and (max-width: $mobile)
			flex-direction column
			align-items flex-start
			font-size 1.5rem
		
		span
			color $black
			font('medium')
				
	.links
		span
			font-size 1.53rem
			
		button
			display inline-flex
			align-items center
			margin 0 0 0 .8rem
			border-radius 999px
			border 1px solid alpha($black, .15)
			// background alpha($black, .12)
			text-decoration none
			color $green
			font-size 1.32rem
			padding .8rem 1.53rem
			cursor pointer
			box()
			
			&:hover
				color #fff
				background $green
				border-color transparent
				
				&.whatsapp
					&:before
						background #fff
			
			&.whatsapp
				&:before
					content ""
					square 1.53rem
					mask($logo-mini)
					margin 0 .8rem 0 0
					background $green
				
			@media screen and (max-width: $mobile)
				margin 1rem 0 0
				
		.text
			font('book')
			color alpha($black, .8)
			
		.buttons
			display flex
			align-items center
			flex 1