@import '~assets/styles/libs/Icons'
@import '~assets/styles/libs/Colors'

.footer
	display flex
	position relative
	width 100%
	min-height 50vh
	background $black
	color #fff
	box()
	
	.container
		flex-direction column
		
		.container-footer
			display flex
			align-items center
			justify-content space-between
			flex 1
			padding 5rem 0
			box()
			
			@media screen and (max-width: $mobile)
				flex-direction column-reverse
				
				.wrap-image
					display none
			
			.group
				display flex
				flex-direction column
				flex .4
				
				&.group-1
					flex .6
					margin 0 5rem 0 0
					
					@media screen and (max-width: $mobile)
						margin 0
						width 100%
					
				.wrap-image
					border-radius 12px
					overflow hidden
			
			.title
				font-size 4.8rem
				max-width 40rem
				color #fff
				font('black')
				text-transform uppercase
				display block
				
				@media screen and (max-width: $mobile)
					width 100%
					max-width 100%
					font-size 3rem
				
			.description
				font-size 1.62rem
				line-height 2rem
				color alpha(#fff, .8)
			
			.links
				margin 3rem 0 0
				
		.group-phone
			width 100%
			display flex
			justify-content space-between
			align-items flex-end
			padding 4rem 0
			border-top 1px solid alpha(#fff, .53)
			box()
			
			.phone
				.number-phone
					font-size 2.53rem
					font('bold')
					
				.description
					font-size 1.32rem
					color alpha(#fff, .8)
					
			.politicas
				.link
					font-size 1.32rem
					text-decoration underline
					cursor pointer
					color alpha(#fff, .8)
					
					&:hover
						color #fff
						
			@media screen and (max-width: $mobile)
				align-items flex-start
				flex-direction column
				
				.politicas
					margin 2rem 0 0
						
	@media screen and (max-width: $mobile)
		min-height auto
		padding-bottom 9rem
		
		.container
			.container-footer
				padding 3rem 0