@import '~assets/styles/libs/Colors'
@import '~assets/styles/libs/Icons'

.header
	position relative
	display flex
	align-items center
	justify-content space-between
	width 100%
	padding 2.32rem 0
	box()
	z-index 99
	
	@media screen and (max-width: $mobile)
		padding 2.32rem 1rem
	
	.container
		justify-content space-between

	.logo
		width 14rem
		height 3rem
		mask($logo)
		background $black

	.nav
		display flex
		
		.list
			display flex
			align-items center
			justify-content space-between
			
			.item
				padding .8rem 1.53rem
				border-radius 999px
				margin 0 1rem 0 0
				background-color transparent
				box()
				
				&:last-child
					margin 0
				
				a
					square 100%
					display flex
					align-items center
					justify-content center
					cursor pointer
					
					&:hover
						.text
							color $green
								
						.icon
							background $green
					
					.icon
						square 1.8rem
						background $black
						margin 0 .8rem 0 0
						mask($help)
						mask-size contain
						
					.text
						font('regular')
						font-size 1.15rem
						color alpha($black, .8)
		
		@media screen and (max-width: $mobile)
			.links
				position fixed
				bottom 0
				left 0
				width 100%
				background #fff
				padding 1.53rem
				border-radius 16px 16px 0 0
				justify-content space-between
				align-items center
				box-shadow 0 -5px 10px 0 alpha($black, .08)
				box()
				
				&:before
					content "Baixar na sua loja favorita"
					font-size 1.32rem
					line-height 1.6rem
					font('book')
					width 80%
				
				.item
					width 100%
					
					a
						padding 1.53rem
						// border-radius 0