@import './libs/*'

:root
	--bg-body $bg-body

html,
body
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	square 100%
	font('regular')
	color $black
	font-size 14px
	background-color #fff
	
	@media screen and (min-width: 1921px)
		font-size 16px
		
	@media screen and (max-width: 1024px)
		font-size 12px
	
p,
span
	line-height normal
	
section
	width 100%
	float left

#__nuxt,
#__layout
	display flex
	flex-direction column
	height 100%
	
#app
	width 100%
	margin 0 auto
	display flex
	flex-direction column
	flex 1
	
.container
	position relative
	display flex
	flex-direction column
	width 100%
	max-width 860px
	margin 0 auto
	padding 0 2rem
	box()