@import '~assets/styles/libs/Icons'
@import '~assets/styles/libs/Colors'
@import '~assets/styles/components/blip'

.home,
main
	display flex
	flex-direction column
	flex 1
	
	.container
		padding 7rem 2rem
		flex 1
		box()
		
		@media screen and (max-width: $mobile)
			padding 4rem 2rem
		
		@media screen and (max-width: 1366px)
			padding 2rem 2rem
	
	.header
		display flex
		flex-direction column

	.tips
		display flex
		align-items center
		flex 1
		
		@media screen and (max-width: $mobile)
			padding 0 0 6rem 0
			box()
		
		.list
			display flex
			justify-content space-between
			width 100%
			
			@media screen and (max-width: $mobile)
				flex-direction column
				margin 3rem 0 0

			.item
				display flex
				flex-direction column
				align-items center
				
				@media screen and (max-width: $mobile)
					margin 0 0 1.8rem 0
				
				.icon
					square 11rem
					display flex
					align-items center
					justify-content center
					border-radius 999px
					
					&:before
						content ""
						square 6rem
						display block
						background blue
					
					&.lamp
						background alpha($yellow, .12)
						
						&:before
							background $yellow
							mask($lamp)
						
					&.sofa
						background alpha($green, .12)
						
						&:before
							background $green
							mask($sofa)
						
					&.clock
						background alpha($blue, .12)
						
						&:before
							background $blue
							mask($clock)
							
					@media screen and (max-width: $mobile)
						square 7rem
						
						&:before
							square 4rem
						
				.text
					display block
					max-width 18rem
					font-size 1.4rem
					line-height 1.8rem
					text-align center
					margin 1.32rem 0 0
					color alpha($black, .8)
					
					@media screen and (max-width: $mobile)
						font-size 1.32rem
					
	.footer
		width 100%
		display flex
		align-items center
		justify-content center
		
		@media screen and (max-width: $mobile)
			position fixed
			left 0
			bottom 0
			width 100%
			padding 1rem 0
			background #fff
			box()
		
		.link,
		.help
			border-radius 999px
			padding 1.32rem 3rem
			text-decoration none
			font-size 1.4rem
			background red
			color #fff
			font('book')
			box()
			
			&.type-0
				display flex
				align-items center
				justify-content center
				background $blue
				color #fff
				
				&:before
					content ""
					square 1.62rem
					mask($phone)
					background #fff
					margin 0 1rem 0 0
			
			&.type-1
				background alpha($black, .12)
				color alpha($black, .32)
				pointer-events none
			
			&.type-2
				background alpha($black, .12)
				color alpha($black, .32)
				pointer-events none
			
			&.type-3
				background alpha($black, .12)
				color alpha($black, .32)
				pointer-events none
				
		.help
			display flex
			align-items center
			background $blue
			margin 0 0 0 1rem
			cursor pointer
			
			&:before
				content ""
				square 1.62rem
				display block
				background #fff
				mask($help)
				margin 0 1rem 0 0