<template lang="pug">
	.home
		.container
			header.header
				status(v-on:chamou="getData", v-on:agendamento="openChatAgendamento")

			.tips
				ul.list
					li.item
						.lamp.icon
						span.text Tente ir para um lugar com boa iluminação.
					li.item
						.sofa.icon
						span.text Encontre um lugar confortável.
					li.item
						.clock.icon
						span.text Seja pontual com sua consulta.

			footer.footer(v-if="currentStatus")
				a.link(:href="currentStatus.link ? currentStatus.link : '#'", :class="'type-'+currrentButton.type") {{currrentButton.text}}
				button.help(@click="openChat") Preciso de ajuda
</template>

<script>
	// self.navigator.userAgent.toLowerCase()

	import Status from '~/components/Status.vue'

	// if (process.client) {
	// 	require('https://unpkg.com/blip-chat-widget@1.6.*')
	// 	// import { BlipChat } from 'blip-chat-widget'
	// }

	export default {
		data () {
			return{
				blipClient: null,
				keyBlip: 'bm92b2ZsdXhvYWdlbmRhbWVudG86ZjU0YTlmZTItYmJmMS00M2UzLTgwYmItZmU0ZTVmMzM5MWM1',
				blipClientAgendamento: null,
				currentStatus: null,
				typesButton: [
					{
						type: 0,
						text: 'Iniciar minha consulta'
					},
					{
						type: 1,
						text: 'Aguarde a criação da sala'
					},
					{
						type: 2,
						text: 'Aguarde a data correta'
					},
					{
						type: 3,
						text: 'Consulta não encontrada'
					}
				]
			}
		},
		components: {
			Status
		},
		computed: {
			disableButton(){
				if (this.currentStatus && this.currentStatus.code === 0) {
					return false
				}else{
					return true
				}
			},
			currrentButton(){
				if (this.currentStatus) {
					return this.typesButton.find(n => n.type == this.currentStatus.code);
				}
			}
		},
		mounted(){
			
		},
		methods: {
			openChat(){
				if (process.client) {
					this.blipClient.destroy();
					this.blipClient = new BlipChat()

					this.blipClient.withAppKey('bm92b2ZsdXhvYWdlbmRhbWVudG86ZjU0YTlmZTItYmJmMS00M2UzLTgwYmItZmU0ZTVmMzM5MWM1')
					.withEventHandler(BlipChat.LOAD_EVENT, () => {
						var iframe = document.getElementById('blip-chat-iframe');
						iframe.contentWindow.postMessage({code: "ShowCloseButton", showCloseButton: true}, iframe.src);
						
						this.blipClient.sendMessage({
							"type": "text/plain",
							"content": "Preciso de ajuda, meu atendimento é:"
						})
					})
					.build();
				}

				// this.keyBlip = 'aHNkY2hhdGJvdDE6Yzk3ODJiMmItOGY4Yy00MmE3LWEwMWYtNTM4NWJhMGY3ZWMy';
				this.blipClient.toogleChat();
			},
			openChatAgendamento(){
				if (this.blipClient) {
					this.blipClient.destroy();
				}

				if (process.client) {

					this.blipClient = new BlipChat()

					this.blipClient.withAppKey('aHNkY2hhdGJvdDE6Yzk3ODJiMmItOGY4Yy00MmE3LWEwMWYtNTM4NWJhMGY3ZWMy')
					.withEventHandler(BlipChat.LOAD_EVENT, () => {
						var iframe = document.getElementById('blip-chat-iframe');
						iframe.contentWindow.postMessage({code: "ShowCloseButton", showCloseButton: true}, iframe.src);
					})
					.build();
				}
				this.blipClient.toogleChat();
			},
			getData(data){
				this.currentStatus = data;
			}
		}
	}
</script>

<style lang="stylus" src="@/assets/styles/pages/home.styl"></style>