<template lang="pug">
	main
		
</template>

<script>
	import Status from '~/components/Status.vue'

	export default {
		data () {
			return{
			}
		},
		mounted(){
			this.$router.push('/000')
		},
		methods: {
		}
	}
</script>

<style lang="stylus" src="@/assets/styles/pages/home.styl"></style>